@media(min-width:576px){

    body{
        max-width: 540px;
    }

}
@media(min-width:768px){
   
    body{
        max-width: 720px;
    }
    
}
@media(min-width:992px){

    body{
        max-width: 960px;
    }
    
}
@media(min-width:1200px){

    body{
        max-width: 1140px;
    }
}
@keyframes pisca {
    from{blackground-color: #ffffff;}
    to{background-color:#0c001a;}
    
}
.pisca{
    background-color:#000724  ;
    animation-name: pisca;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}