@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kdam+Thmor+Pro&family=Keania+One&display=swap');
header{
    background: #360033;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #022027, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
    border: 5px solid rgb(0, 0, 0);
}
header h1{
    font-family: 'Fredoka One', cursive;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Keania One', cursive;
    color: cyan;
    font-size: 50px;
    display: inline-block;
    vertical-align: 50%;
}
.logo{
    width: 90px;
    display: inline-block;
}
nav{
    vertical-align: 120%;
    display: inline-block;
}
nav ul>li{
   
    vertical-align: text-bottom;
    padding: 5px;
    font-size: x-large;
    display: inline-block;
}
a{
    
    text-decoration: none;
    color: lightblue ;
}
body{
 margin: auto;
}

