* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: rgb(177, 238, 247);
    background-color: rgb(64, 79, 83);
}
.i-block{
    display: inline-block;
}
.page-filme {
    width: 80%;
    margin: 50px auto;
}
a {
    text-decoration: none;
    color: wheat;
    display: inline-block;
}
@media screen and (min-width:1000px) {
    
    
    .BarraPrincipal {
        background-color: black;
        display: grid;
        grid-template-columns: 20% 1fr 1fr 20%;
        grid-template-rows: 100px;
        grid-template-areas: ". a b .";
    }
    
    .logo {
        margin-top: 10px;
        grid-area: a;
        display: inline-flex;
        border-bottom: 4px solid white;
        padding-left: 150px;
    }
    
    #h1logo {
        font-size: 45px;
        padding-top: 15px;
    }
    
    #imglogo {
        height: 85px;
    }
    
    .Menu {
        grid-area: b;
        border-bottom: 4px solid white;
    }
      
    .item-menu-principal {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 25px;
        display: inline-flex;
        padding-top: 60px;
    }
    
    .page-conetudo {
        width: 85%;
        background-color: #191d20;
        margin: auto;
        padding: 40px;
    }
    
    .Img-filme {
        width: 100%;
        height: 270px;
        border: 5px solid rgb(0, 0, 0);

    }
    
    .filme {
        width: 240px;
        height: 310px;
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        padding: 5px;
    }
    
    .filme p {
        width: 100%;
        font: bolder 15px arial;
        text-align: center;
    }
    
}

@media screen and (max-width:1000px) {
   body{
    padding-top: 110px;
   }
    header{
        position: fixed;
        top: 0;
        width: 100%;
        height: 110px;
        background-color: black;
        color: white;
    }
    .page-conetudo{
        background-color: #0e161b;
        padding: 5px;
    }
    .logo{
        padding-top: 10px ;
        width: 70%;
        margin: auto;

    }
    #imglogo{
        height: 70px;
    }
    #h1logo{
        font-size: 40px;
        vertical-align: 50%;
    }
    ul{
        width: 90%;
        margin: auto;
    }
    .Img-filme{
        width: 114;
        height: 171px;
        border: 4px solid black;
    }
    .filme{
        vertical-align: top;
        width: 114px;
        height: 215px;
        display: inline-block;
        margin: 5px;
    }
    .filme p{
        text-align: center;
        font-size: 0.8rem;
        overflow: hidden;
    }
    
    
}
